# Unit 6 - Pythonic Monopoly

**San Francisco Housing Rental Analysis**

In [5]:
 # initial imports
import os
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import hvplot.pandas
from pathlib import Path
from dotenv import load_dotenv

%matplotlib inline

In [6]:
# Set up API credentials
# Read the Mapbox API key
load_dotenv()
map_box_api = os.getenv('mapbox')

# Set the Mapbox API
px.set_mapbox_access_token(map_box_api)

In [7]:
# Read the census data into a Pandas DataFrame
file_path = Path("neighborhoods_census_data.csv")
sfo_data = pd.read_csv(file_path, index_col="year")
sfo_data.head()

          neighborhood  sale_price_sqr_foot  housing_units  gross_rent
year
2010      Alamo Square           291.182946         372560        1239
2010        Anza Vista           267.932583         372560        1239
2010           Bayview           170.098665         372560        1239
2010  Buena Vista Park           347.394919         372560        1239
2010  Central Richmond           319.027623         372560        1239

**Housing Units Per Year - In this section, you will calculate the number of housing units per year and visualize the results as a bar chart using the Pandas plot function. Hint: Use the Pandas groupby functionOptional challenge: Use the min, max, and std to scale the y limits of the chart.**

In [8]:
# Calculate the mean number of housing units per year (hint: use groupby) 
sfo_data.groupby('housing_units').head()

          neighborhood  sale_price_sqr_foot  housing_units  gross_rent
year
2010      Alamo Square           291.182946         372560        1239
2010        Anza Vista           267.932583         372560        1239
2010           Bayview           170.098665         372560        1239
2010  Buena Vista Park           347.394919         372560        1239
2010  Central Richmond           319.027623         372560        1239
2011      Alamo Square           272.527310         374507        1530
2011           Bayview           172.540562         374507        1530
2011   Bernal Heights            471.921732         374507        1530
2011  Buena Vista Park           171.772347         374507        1530
2011  Central Richmond           261.663800         374507        1530
2012      Alamo Square           183.099317         376454        2324
2012        Anza Vista           344.490914         376454        2324
2012           Bayview           165.798062         376454        2324
2012   Bernal Heights            368.266561         376454        2324
2012  Buena Vista Park           338.601163         376454        2324
2013      Alamo Square           387.794144         378401        2971
2013        Anza Vista           453.340498         378401        2971
2013           Bayview           259.547163         378401        2971
2013   Bernal Heights            630.897303         378401        2971
2013  Buena Vista Park           455.218089         378401        2971
2014      Alamo Square           484.443552         380348        3528
2014        Anza Vista           620.441407         380348        3528
2014           Bayview           254.958662         380348        3528
2014   Bernal Heights            544.546929         380348        3528
2014  Central Richmond           423.952727         380348        3528
2015      Alamo Square           602.115877         382295        3739
2015        Anza Vista           465.686275         382295        3739
2015   Bayview Heights           590.792839         382295        3739
2015   Bernal Heights            458.004299         382295        3739
2015  Buena Vista Park           551.695622         382295        3739
2016      Alamo Square           340.981835         384242        4390
2016        Anza Vista            88.401511         384242        4390
2016   Bernal Heights            986.842105         384242        4390
2016  Buena Vista Park           851.401405         384242        4390
2016  Central Richmond           661.064426         384242        4390

In [ ]:
# Use the Pandas plot function to plot the average housing units per year.
# Note: You will need to manually adjust the y limit of the chart using the min and max values from above.
# YOUR CODE HERE!

# Optional Challenge: Use the min, max, and std to scale the y limits of the chart
# YOUR CODE HERE!


plt.show()
plt.close(fig_housing_units)

**Average Prices per Square Foot
In this section, you will calculate the average gross rent and average sales price for each year. Plot the results as a line chart. Average Gross Rent in San Francisco Per Year**

In [23]:
# Calculate the average gross rent and average sale price per square foot
# YOUR CODE HERE!
 # Slice for Total Average Loan Amount
loan_data_state = loan_data['Total Average Loan Amount']
loan_data_avg_grp = loan_data_state.sort_values()

# Plot Total Average Loan Amount
plot_state_avgs = loan_data_avg_grp.hvplot.bar(label='2019 Total Average Amount')
plot_state_avgs

In [24]:
# Plot the Average Gross Rent per Year as a Line Chart 
# YOUR CODE HERE!
# Use hplot.line to create line plot
df.hvplot.line(xlabel="Year", ylabel="Daily Return")

**Average Sales Price per Year**

In [ ]:
# Plot the Average Sales Price per Year as a line chart
# YOUR CODE HERE!

**Average Prices by Neighborhood
In this section, you will use hvplot to create an interactive visulization of the Average Prices with a dropdown selector for the neighborhood.Hint: It will be easier to create a new DataFrame from grouping the data and calculating the mean prices for each year and neighborhood**

In [25]:
# Group by year and neighborhood and then create a new dataframe of the mean values
# YOUR CODE HERE!

In [26]:
 # Use hvplot to create an interactive line chart of the average price per sq ft.
# The plot should have a dropdown selector for the neighborhood
# YOUR CODE HERE!

**The Top 10 Most Expensive Neighborhoods
In this section, you will need to calculate the mean sale price for each neighborhood and then sort the values to obtain the top 10 most expensive neighborhoods on average. Plot the results as a bar chart.**

In [27]:
# Getting the data from the top 10 expensive neighborhoods
# YOUR CODE HERE!

**Parallel Coordinates and Parallel Categories Analysis
In this section, you will use plotly express to create parallel coordinates and parallel categories visualizations so that investors can interactively filter and explore various factors related to the sales price of the neighborhoods. Using the DataFrame of Average values per neighborhood (calculated above), create the following visualizations:
Create a Parallel Coordinates Plot
Create a Parallel Categories Plot**

In [28]:
# Parallel Coordinates Plot

# Plot data using parallel_coordinates plot
px.parallel_coordinates(sales_foreclosures_cnt, color='index')

In [29]:
# Parallel Categories Plot

 # Plot data using parallel_categories
px.parallel_categories(
    df,
    dimensions=["type", "region", "prop_size"],
    color="year",
    color_continuous_scale=px.colors.sequential.Inferno,
    labels={
        "type": "Type of Dwelling",
        "region": "Region",
        "prop_size": "Property Size",
    },
)

**Neighborhood Map
In this section, you will read in neighboor location data and build an interactive map with the average prices per neighborhood. Use a scatter_mapbox from plotly express to create the visualization. Remember, you will need your mapbox api key for this.**

In [ ]:
 # Load neighborhoods coordinates data
file_path = Path("Data/neighborhoods_coordinates.csv")
df_neighborhood_locations = pd.read_csv(file_path)
df_neighborhood_locations.head()

**Data Preparation
You will need to join the location data with the mean prices per neighborhood
Calculate the mean values for each neighborhood
Join the average values with the neighborhood locations**

In [30]:
# Calculate the mean values for each neighborhood
# YOUR CODE HERE!

In [31]:
 # Join the average values with the neighborhood locations
# YOUR CODE HERE!

**Mapbox Visualization
Plot the aveage values per neighborhood with a plotly express scatter_mapbox visualization.**

In [32]:
# Create a scatter mapbox to analyze neighborhood info
# YOUR CODE HERE!
map = px.scatter_mapbox(
    filtered_data,
    lat="Latitude",
    lon="Longitude",
    size="PopulationCount",
    color="CityName",
    zoom=4
)

# Display the map
map.show()

**San Francisco Rental Prices Dashboard**

In [12]:
 # imports
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv

In [13]:
# Set up API credentials
# Read the Mapbox API key
load_dotenv()
map_box_api = os.getenv('mapbox')

# Set the Mapbox API
px.set_mapbox_access_token(map_box_api)

In [14]:
# Import the CSVs to Pandas DataFrames
file_path = Path("neighborhoods_census_data.csv")
sfo_data = pd.read_csv(file_path, index_col="year")

file_path = Path("neighborhoods_coordinates.csv")
df_neighborhood_locations = pd.read_csv(file_path)

In [15]:
sfo_data.head()

          neighborhood  sale_price_sqr_foot  housing_units  gross_rent
year
2010      Alamo Square           291.182946         372560        1239
2010        Anza Vista           267.932583         372560        1239
2010           Bayview           170.098665         372560        1239
2010  Buena Vista Park           347.394919         372560        1239
2010  Central Richmond           319.027623         372560        1239

In [16]:
df_neighborhood_locations.head()

      Neighborhood        Lat         Lon
0     Alamo Square  37.791012 -122.402100
1       Anza Vista  37.779598 -122.443451
2          Bayview  37.734670 -122.401060
3  Bayview Heights  37.728740 -122.410980
4   Bernal Heights  37.728630 -122.443050

**Panel Visualizations**

In [17]:
import pandas as pd
import numpy as np
import panel as pn
from panel.interact import interact
from panel import widgets
import hvplot.pandas

# Enable Jupyter Lab Panel plugin

pn.extension()

# Define Panel Visualization Functions
def housing_units_per_year():
    """Housing Units Per Year."""
    
    # YOUR CODE HERE!


def average_gross_rent():
    """Average Gross Rent in San Francisco Per Year."""
    
    # YOUR CODE HERE!


def average_sales_price():
    """Average Sales Price Per Year."""
    
    # YOUR CODE HERE!


def average_price_by_neighborhood():
    """Average Prices by Neighborhood."""
    
    # YOUR CODE HERE!


def top_most_expensive_neighborhoods():
    """Top 10 Most Expensive Neighborhoods."""
    
    # YOUR CODE HERE!


def parallel_coordinates():
    """Parallel Coordinates Plot."""
    
    # YOUR CODE HERE!


def parallel_categories():
    """Parallel Categories Plot."""
    
    # YOUR CODE HERE!


def neighborhood_map():
    """Neighborhood Map"""
    
    # YOUR CODE HERE!

**Panel Dashboard
In this section, you will combine all of the plots into a single dashboard view using Panel. Be creative with your dashboard design!**

In [9]:
 # YOUR CODE HERE!

**Serve the Panel Dashboard**

In [10]:
#   panel.servable()
# Render plot with Panel interactive widget
interact(plot_housing_tx, number_of_sales=100)